version: "3.8"

services:
  app:
    build: .
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env
    environment:
      - FRONTEND_URL=http://localhost:8000
    restart: unless-stopped
